Hado.PL/Connected Services/HadoUIServiceReference/HadoUIService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Hado.DL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Hado.DL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Teacher">
    <xs:sequence>
      <xs:element minOccurs="0" name="Birthday" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Firstname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdentityNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lastname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SchoolId" type="xs:int" />
      <xs:element minOccurs="0" name="TeacherId" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Teacher" nillable="true" type="tns:Teacher" />
  <xs:complexType name="ArrayOfTeacher">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Teacher" nillable="true" type="tns:Teacher" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTeacher" nillable="true" type="tns:ArrayOfTeacher" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoleId" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="Lesson">
    <xs:sequence>
      <xs:element minOccurs="0" name="LessonId" type="xs:int" />
      <xs:element minOccurs="0" name="LessonName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TeacherId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Lesson" nillable="true" type="tns:Lesson" />
  <xs:complexType name="ArrayOfLesson">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Lesson" nillable="true" type="tns:Lesson" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLesson" nillable="true" type="tns:ArrayOfLesson" />
  <xs:complexType name="ArrayOfQuestionType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QuestionType" nillable="true" type="tns:QuestionType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuestionType" nillable="true" type="tns:ArrayOfQuestionType" />
  <xs:complexType name="QuestionType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuestionTypeId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuestionType" nillable="true" type="tns:QuestionType" />
  <xs:complexType name="Question">
    <xs:sequence>
      <xs:element minOccurs="0" name="LessonId" type="xs:int" />
      <xs:element minOccurs="0" name="Question1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuestionId" type="xs:int" />
      <xs:element minOccurs="0" name="QuestionType" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Question" nillable="true" type="tns:Question" />
  <xs:complexType name="ArrayOfQuestion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Question" nillable="true" type="tns:Question" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuestion" nillable="true" type="tns:ArrayOfQuestion" />
  <xs:complexType name="QuestionAnswer">
    <xs:sequence>
      <xs:element minOccurs="0" name="QAId" type="xs:int" />
      <xs:element minOccurs="0" name="QuestionAnswers" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuestionId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuestionAnswer" nillable="true" type="tns:QuestionAnswer" />
  <xs:complexType name="ArrayOfQuestionAnswer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QuestionAnswer" nillable="true" type="tns:QuestionAnswer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuestionAnswer" nillable="true" type="tns:ArrayOfQuestionAnswer" />
  <xs:complexType name="School">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SchoolCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SchoolId" type="xs:int" />
      <xs:element minOccurs="0" name="SchoolName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="School" nillable="true" type="tns:School" />
</xs:schema>