Hado.PL/Connected Services/HadoUIServiceReference/HadoUIService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:65393/HadoUIService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Hado.DL" />
  <xs:import schemaLocation="http://localhost:65393/HadoUIService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Hado.DL.ViewModel" />
  <xs:element name="TeacherGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TeacherGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Hado.DL" minOccurs="0" name="TeacherGetResult" nillable="true" type="q1:Teacher" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TeacherAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Hado.DL" minOccurs="0" name="teacherModel" nillable="true" type="q2:Teacher" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="roleid" type="xs:int" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TeacherAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TeacherAddResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TeacherRemove">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="teacherid" type="xs:int" />
        <xs:element minOccurs="0" name="userid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TeacherRemoveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TeacherRemoveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TeacherEdit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Hado.DL" minOccurs="0" name="model" nillable="true" type="q3:Teacher" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TeacherEditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TeacherEditResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TeacherList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TeacherListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Hado.DL" minOccurs="0" name="TeacherListResult" nillable="true" type="q4:ArrayOfTeacher" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Hado.DL" minOccurs="0" name="UserGetResult" nillable="true" type="q5:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Hado.DL" minOccurs="0" name="LoginResult" nillable="true" type="q6:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LessonGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LessonGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Hado.DL" minOccurs="0" name="LessonGetResult" nillable="true" type="q7:Lesson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LessonAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Hado.DL" minOccurs="0" name="lessonModel" nillable="true" type="q8:Lesson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LessonAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LessonAddResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LessonRemove">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LessonRemoveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LessonRemoveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LessonEdit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Hado.DL" minOccurs="0" name="lessonModel" nillable="true" type="q9:Lesson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LessonEditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LessonEditResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LessonList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="teacherid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LessonListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Hado.DL" minOccurs="0" name="LessonListResult" nillable="true" type="q10:ArrayOfLesson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuestionTypeList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="QuestionTypeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Hado.DL" minOccurs="0" name="QuestionTypeListResult" nillable="true" type="q11:ArrayOfQuestionType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuestionGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lessonid" type="xs:int" />
        <xs:element minOccurs="0" name="content" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="qtypeid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuestionGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Hado.DL" minOccurs="0" name="QuestionGetResult" nillable="true" type="q12:Question" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuestionAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Hado.DL" minOccurs="0" name="question" nillable="true" type="q13:Question" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuestionAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QuestionAddResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuestionRemove">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QuestionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuestionRemoveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QuestionRemoveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuestionEdit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Hado.DL" minOccurs="0" name="question" nillable="true" type="q14:Question" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuestionEditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QuestionEditResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuestionList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="QuestionListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Hado.DL" minOccurs="0" name="QuestionListResult" nillable="true" type="q15:ArrayOfQuestion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuestionListByParameter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lessonId" type="xs:int" />
        <xs:element minOccurs="0" name="question" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuestionListByParameterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Hado.DL" minOccurs="0" name="QuestionListByParameterResult" nillable="true" type="q16:ArrayOfQuestion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuestionAnswerGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuestionAnswerGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Hado.DL" minOccurs="0" name="QuestionAnswerGetResult" nillable="true" type="q17:QuestionAnswer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuestionAnswerAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Hado.DL" minOccurs="0" name="question" nillable="true" type="q18:QuestionAnswer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuestionAnswerAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QuestionAnswerAddResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuestionAnswerRemove">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="questionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuestionAnswerRemoveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QuestionAnswerRemoveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuestionAnswerEdit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Hado.DL" minOccurs="0" name="question" nillable="true" type="q19:QuestionAnswer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuestionAnswerEditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QuestionAnswerEditResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuestionAnswerListByQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="questionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuestionAnswerListByQuestionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Hado.DL" minOccurs="0" name="QuestionAnswerListByQuestionResult" nillable="true" type="q20:QuestionAnswer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuestionAnswerList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="QuestionAnswerListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Hado.DL" minOccurs="0" name="QuestionAnswerListResult" nillable="true" type="q21:ArrayOfQuestionAnswer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuestionVM">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lessonid" type="xs:int" />
        <xs:element minOccurs="0" name="questiontypeid" type="xs:int" />
        <xs:element minOccurs="0" name="sorusayisi" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuestionVMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Hado.DL.ViewModel" minOccurs="0" name="QuestionVMResult" nillable="true" type="q22:ArrayOfQuestionViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuestionVMRandom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lessonid" type="xs:int" />
        <xs:element minOccurs="0" name="questiontypeid" type="xs:int" />
        <xs:element minOccurs="0" name="sorusayisi" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuestionVMRandomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Hado.DL.ViewModel" minOccurs="0" name="QuestionVMRandomResult" nillable="true" type="q23:ArrayOfQuestionViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchool">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="teacherid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchoolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Hado.DL" minOccurs="0" name="GetSchoolResult" nillable="true" type="q24:School" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>